.splash-logo {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  animation: scaleIn 1.3s ease-in-out;
}

.splash-label {
  animation: fadeIn 1.3s ease-in-out;

}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
