.table-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scroll on small screens */
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive-table thead {
    border: #ddd solid 4px;
  }
  .responsive-table th,
  .responsive-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    text-align: left;
  }
  
  @media (max-width: 600px) {
    .responsive-table {
      font-size: 14px;
    }
  
    .responsive-table th,
    .responsive-table td {
      padding: 8px;
    }
  }
  